<div class="controls">
  <app-simple-button routerLink="/home" routerLinkActive="active">Home</app-simple-button>
</div>

<cdk-virtual-scroll-viewport itemSize="80" class="contact-list">
  <div class="line" *cdkVirtualFor="let item of (contacts$|async); index as i; count as itemsCount">

    <div class="contact-item">
      <div class="counter">#{{i + 1}}</div>
      <div class="contact">
        <app-contact [user]="item"></app-contact>
        <div class="contact-controls">
          <mat-icon (click)="openViewDialog(item)">visibility</mat-icon>
          <mat-icon (click)="openCreateDialog(item.user)">create</mat-icon>
          <mat-icon (click)="openDeleteDialog(item)">delete_forever</mat-icon>
        </div>
      </div>
    </div>
    <div class="separator" *ngIf="i < itemsCount"></div>
  </div>
</cdk-virtual-scroll-viewport>