.contact-block {
    padding: 20px 10px;

    .panel {
        display: flex;
        justify-content: space-between;

        .user {
            display: flex;
            margin-bottom: 5px;

            .nickname {
                margin-left: 10px;
                align-self: center;
            }
        }
    }
}